@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100vh;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}


/* LOGO & NAVBAR*/

.row{
    width: 300px;
    margin: 0 auto;
}
.logo img{
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.logo{
    animation: fadeIn 5s; 
}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
  
}

.nav{
    background-color: #2a2a2a;
    margin: 0 auto;
    width: 100%;
    height: 3vh;
    padding: 0 22px;
    position: relative;
    z-index: 2;
    padding-left: max(22px,env(safe-area-inset-left));
    padding-right: max(22px,env(safe-area-inset-right));
  }

.links{
    margin: 0 -8px;
    width: auto;
    height: 44px;
    display: flex;
    list-style: none;
    justify-content: center;
    user-select: none;
    padding-top: 7px;
}
a{
    color: white;
    text-decoration: none; 
    padding-left: 60px;
    
}


/* HOME  */

.home{
    background-color: rgba(4, 3, 3, 0.554);
    color: #fff;
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}

.home:before{
    content: '';
    background: url('../src/photos/tea-pouring.avif') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}


/* TEA */

.all-tea{
    padding-top: 5em;
    padding-left: 19em;
}

.hide-form{
    padding-top: 5em;
}

.hide-form-btn{

}